

header {

  width:960px;
  margin:0 auto;
    

}


#topleft {
  float: left;
  width: 300px;
  height: 50px; 
  background: #02074d;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 30px;

  border-style: solid;
  border-bottom: #00000052;
  padding: 5px;

  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

#topright {
  
  float: right;
  width: 300px;
  height: 50px;
  background: #ffffff;

   
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-style: solid;
  border-bottom: #00000052;
  padding: 5px;
 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #3f3e3e;
  font-weight: bold;
  text-decoration: none;



}

#jc_pic {

  width: 200px;
  float: left;
  padding-top: 20px;

}


#bio {

  float: left;
  width: 660px;
  height: 60px;
  padding: 19px;
  color: #000000;
  text-align: center;
  
  
  }





  section {
    Height: 200px;
    width:960px;
  margin:0 auto;"
    background: #ffffff;
    clear: both;
  }

 

