a {
  text-decoration: none;
  color: #000000;
}

.header {
  width: 960px;
  height: 100px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  position: relative;
}

.topleft {
  float: left;
  width: 300px;
  height: 50px;
  position: relative;
  background: #ffffff;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;

  border-style: solid;
  border-bottom: #00000052;

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
}

.topmiddle {
  float: left;

  width: 300px;
  height: 50px;
  position: relative;
  background: #ffffff;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.topright {
  float: right;

  width: 300px;
  height: 50px;
  position: relative;
  background: #ffffff;

  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

body {
  width: 960px;
  margin: 0 auto;
  background: #c9c2ab;
  clear: both;
}

#jc_pic {
  width: 200px;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#bio {
  float: left;
  width: 660px;
  height: 60px;
  padding: 19px;
  color: #000000;
  text-align: center;
}

#aboutMe {
  padding-top: 20px;
  padding-left: 20px;

  padding-bottom: 10px;
  border-bottom: 2px solid rgba(46, 45, 45, 0.637);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

#mainbox {
  height: 500px;
  width: 940px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0%;
  background: #ffffff;
  line-height: 20px;
}

#mainText {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  line-height: 2;
}

#contactform {
  height: 500px;
  width: 940px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0%;
  background: #ffffff;
  line-height: 20px;
}

#portfoliobox {
  height: 850px;
  width: 940px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0%;
  background: #ffffff;
  line-height: 20px;
}

#Me {
  padding-top: 20px;
  padding-left: 20px;

  padding-bottom: 10px;
  border-bottom: 2px solid rgba(46, 45, 45, 0.637);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;

  text-decoration: none;
}

#form1 {
  padding-top: 20px;
  padding-left: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;

  text-decoration: none;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;

  position: relative;
  display: inline-block;
}

.text-picture {
  position: absolute;
  margin: 0 auto;
  width: 200px;
  left: 0;
  right: 0;
  text-align: center;
  top: 70%;
  background-color: rgb(14, 197, 243);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

}

/* .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image 
      }
      .box .text{
          position: absolute;
          z-index: 999;
          margin: 0 auto;
          left: 0;
          right: 0;        
          text-align: center;
          top: 40%; /* Adjust this value to move the positioned div up and down 
          background: rgba(0, 0, 0, 0.8);
          font-family: Arial,sans-serif;
          color: #fff;
          width: 60%; /* Set the width of the positioned div */
