/* body {
  width: 100%;
  background: #ffffff;
} */

.container {
  width: 100%;
  align-self: center;

}

h1 {

font-family: 'Courier New', Courier, monospace;
font-size: 12pt;

}

#top {
  padding: 20px;
  margin-bottom: 0px;
  color: #333;
  background: #ccc;
  width: 960px;
  position: relative;
  float: left;
}

#box1 {
  padding: 10px;
  margin-bottom: 0px;
  color: #333;
  background: rgb(203, 185, 235);
  width: 300px;
  
  float: left;
}

#box2 {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: rgb(114, 231, 4);
  width: 200px;
  position: relative;
  float: right;
}

#box3 {
  padding: 0px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  width: 100px;
  position: relative;
  float: left;
}



#box4 {
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12pt;
  color: #333;
  background: rgb(114, 231, 4);
  width: 100%;
  position: relative;
  float: left;
}


#header {
  padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
  margin-bottom: 0Px;
  color: #333;
  background: rgb(255, 253, 253);

  width: 960px;

}
#section1 {
  padding: 20px;
  margin-bottom: 20px;
  width: 960px;
  color: #333;
  background: #ccc;
}
